name: "deploy release"

on:
  push:
    tags:
      - 'v**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/Checkout@v1
    - name: "Get tag message"
      id: vars
      run: echo "tag_body=$(git tag -l --format='%(contents)' ${{ github.event.ref }})" >> $GITHUB_OUTPUT
    - name: "Upload"
      uses: AnarkisGaming/workshop@v1
      with:
        appid: 108600
        publishedFileID: 3101379739
        path: src/Contents
        changelog: ${{ steps.vars.outputs.tag_body }}
      env:
        STEAM_ACCOUNT_NAME: ${{ secrets.steamaccountname }}
        STEAM_PASSWORD: ${{ secrets.steampassword }}
